{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/agency.css' %}" >
{% endblock  %}

{% block container %}

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container row col-md-12">
            <!-- Brand and toggle get grouped for better mobile display -->

            <img class="row col-md-2" src="{% static 'img/logo.png' %}" id="logou" alt="">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Biblioteca virtual UNICAH</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Catálogo</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Recursos electrónicos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Acerca de</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Ubicación</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenido a nuestra </div>
                <div class="intro-heading">biblioteca virtual!</div>
                <a href="#services" class="page-scroll btn btn-xl">Libros</a>
            </div>
        </div>
    </header>

    {% block info %}
    <!-- Seccion de catálogo -->
    <section id="services">
        <form>
          <div class="form-group">
            <div class="input-grouprow col-md-5 col-md-offset-3">
                <input type="text" class="form-control ">  
                <div class="btn-group col-md-10">
                 <button type="button" class="btn btn-primary row col-md-3">Buscar</button>
              <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Por nombre</a></li>
                    <li><a href="#">Por autor</a></li>
                    <li><a href="#">Por editorial</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Por todos</a></li>
                  </ul>
                  <button type="button" class="btn btn-primary dropdown-toggle"
                          data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Desplegar menú</span>
                  </button> 
                  <button type="button" class="btn btn-succes row col-md-3 "><a href="">Agregar</a></button>
              </div>
              </div>
              
                
            </div>
          </div>
        </form>
    </section>
    {% endblock %}

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/agency.min.js' %}"></script>
{% endblock %}
